<!-- Image and text -->
<nav class="navbar navbar-dark bg-dark">
	<a class="navbar-brand" href="#">
		<h3>Add post</h3>
	</a>
</nav>

<form #postForm="ngForm" (ngSubmit)="onCreatePost(postForm.value)" class="mt-3 p-4">
	<div class="form-group">
		<label for="exampleInputEmail1">Post Title</label>
		<input
     type="text"
     class="form-control"
     placeholder="Title"
     id="title"
     required
     ngModel
     name="title"
     >
  </div>
		<div class="form-group">
			<label for="exampleInputEmail1">Post Content</label>
			<input
      type="text"
      class="form-control"
      placeholder="Content"
      id="content"
      required
      ngModel
      name="content"
      >
  </div>

			<button [disabled]="!postForm.valid" type="submit" class="btn btn-success mr-2">Save</button>
			
			
</form>
<div class="container">
 
   
<button class="btn btn-primary mr-3" (click)="FetchPosts()">Fetch post</button>
<button  class="btn btn-danger" (click)="onClearPosts()">Delete</button>


  <h6 class="mt-3 text-center" *ngIf="loadedPost.length<1">No posts</h6>
  <div *ngIf="loadedPost.length>=1">
 
    <ul class="list-group"  *ngFor="let post of loadedPost">
      <li class="list-group-item bg-light">
        <h6>{{post.title}}</h6>
      </li>
      <li class="list-group-item">
        <p>{{post.content}}</p>
      </li>
    </ul>
  </div>
</div>